.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.8rem;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem;
}

.playerName {
  font-size: 2rem;
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  color: initial;
  font-weight: 600;
}

.label::after {
  content: ": ";
}

.input {
  display: block;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--darker);
    color: white;
    font-weight: 600;
  }

  .label {
    color: white;
  }

  .name.white {
    background-color: inherit;
  }

  .negative {
    color: rgba(255, 0, 0, 75%);
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}
